@media only screen and (min-width: 550px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10% 5%;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 549px) {
  .form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15% 5%;
    grid-template-rows: repeat(1, 1fr);
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 550px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10% 5%;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 5%;
  }
}
